body {
    font-family: 'Arial', sans-serif;
    color: #333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;
    text-align: center;
    margin: 0;
}

.ingredient-page {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 40px; 
    width: 90%;
    max-width: 1200px; 
    margin: 0 auto; 
    box-sizing: border-box; 
    flex-wrap: wrap; 
    flex: 1; 
}

.ingredient-container {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    padding: 40px;
    width: 100%; 
    max-width: 600px; 
}

input[type="text"] {
    width: 100%; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    margin-bottom: 20px; 
    font-size: 1.1em;
    transition: border-color 0.3s; 
    box-sizing: border-box; 
}

input[type="text"]:focus {
    border-color: #1e90ff; 
}

button {
    background-color: purple; 
    color: white; 
    padding: 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1.1em; 
    width: 100%; 
}

button:hover {
    background-color: rgb(205, 95, 205);
}

.recipe-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 600px; 
    box-sizing: border-box;
    display: none; 
}

.recipe-visible .recipe-container {
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    max-width: 600px; 
}

@media (max-width: 768px) {
    .ingredient-page {
        flex-direction: column; 
        align-items: center;
        width: 100%; 
    }

    .ingredient-container,
    .recipe-container {
        max-width: 100%; 
        text-align: center;
    }
}
